html {
  font-family: "Fredoka One", cursive;
}

body {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}

@keyframes paintBackground {
  0% {
    width: 0;
  }
  100% {
    width: 140%;
  }
}

.banana {
  position: absolute;
  width: 0;
  height: 500px;

  /*border: 12px solid rgb(0, 0, 0);
  border-style: solid none solid none;*/
  opacity: 30%;
  border-radius: 20px;

  animation: paintBackground ease-in-out forwards;
  z-index: -1;
}

.banana#left {
  left: -100px;
}

.banana#right {
  right: -100px;
}

/* Navbar for large screens */

.navbar {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(255, 164, 225);
  width: 0;
  height: 75px;
  margin: 0;
  border: 8px rgb(190, 123, 168);
  border-style: none none solid none;
  animation: navSlide 1s ease 7s forwards;
}

.navbar ul {
  grid-column: 2 / 3;
  align-self: end;
  justify-self: start;
  list-style-type: none;
  font-size: 1.5rem;
  margin: 0;
  padding: 20px 20px 0 20px;
  opacity: 0;
  animation: navFadeIn 500ms ease 8s forwards;
}

.navbar a {
  text-decoration: none;
  color: white;
  align-self: end;
}

.navbar li {
  display: inline;
  padding: 10px 20px 0 20px;
  margin: 0 10px;
  background-color: rgb(190, 123, 168);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  pointer-events: auto;
}

@media screen and (max-width: 1115px) {
  .navbar ul {
    display: none;
  }
}

/* Introduction Section */

@keyframes growIntroWidth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 85%;
  }
}

.intro-container {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  height: 800px;
  margin: 8% auto;
  border-top-left-radius: 15px 250px;
  border-top-right-radius: 250px 15px;
  border-bottom-left-radius: 200px 25px;
  background-color: rgb(131, 228, 131);
  overflow: hidden;
  opacity: 0;
  animation: growIntroWidth 1650ms ease-in-out 2000ms forwards;
}

.intro-container h1 {
  font-size: 6rem;
  color: white;
  margin: 0;
  margin-left: 70px;
  align-self: center;
}

.intro-container h1 br {
  display: none;
}

.cover-box {
  position: absolute;
  grid-column: 1 / 2;
  background-color: rgb(131, 228, 131);
  margin-left: 60px;
  width: 1500px;
  height: 120px;
  top: 140px;
  border: 15px;
  border-style: none none none solid;
  border-color: rgb(131, 228, 131);
  z-index: 3;
  animation: slideBox 3s ease-in-out 4s forwards,
    flashOpacity 600ms ease-in-out 13 forwards;
}

.cover-box#box-2 {
  display: none;
}

.cover-box#box-3 {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 650px) {
  .intro-container {
    width: 80%;

    margin: 25px auto;
  }

  .intro-container h1 {
    font-size: 3.5rem;
    margin: 25px;
  }

  .intro-container h1 br {
    display: inline;
  }

  .cover-box#box-1 {
    height: 70px;
    top: 100px;
    margin-left: 25px;
    animation: smallSlideBox1 600ms ease-out 4s forwards,
      flashOpacity 600ms ease-in-out 8 forwards;
  }

  .cover-box#box-2 {
    display: inline;
    height: 70px;
    top: 170px;
    margin-left: 25px;
    animation: smallSlideBox2 1000ms ease-out 5300ms forwards,
      flashOpacity 600ms ease-in-out 5000ms 3 forwards;
  }

  .cover-box#box-3 {
    display: inline;
    height: 70px;
    top: 235px;
    margin-left: 25px;
    animation: smallSlideBox3 1200ms ease-out 6200ms forwards,
      flashOpacity 600ms ease-in-out 6000ms 5 forwards;
  }

  .navbar {
    grid-template-columns: 1fr;
    height: 90px;
    animation-duration: 700ms;
    animation-delay: 7s;
  }

  @keyframes menuFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  .menu-icon {
    margin: auto;
    opacity: 0;
    animation: menuFadeIn 700ms ease-in-out 7800ms forwards;
    border: 5px solid white;
    border-radius: 15px;
  }

  .menu-icon-bar {
    width: 40px;
    height: 5px;
    background-color: rgb(190, 123, 168);
    margin: 10px;
  }
}

/* Keyframes */

@keyframes smallSlideBox1 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  100% {
    transform: translate(80px);
    display: none;
  }
}

@keyframes smallSlideBox2 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  100% {
    transform: translate(200px);
    display: none;
  }
}

@keyframes smallSlideBox3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  100% {
    transform: translate(265px);
    display: none;
  }
}

@keyframes slideBox {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  30% {
    transform: translate(130px);
  }
  50% {
    transform: translate(130px);
  }
  90% {
    transform: translate(950px);
  }
  100% {
    transform: translate(950px);
    border-color: rgb(131, 228, 131);
  }
}

@keyframes navSlide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes navFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes flashOpacity {
  0% {
    border-color: rgb(91, 138, 91);
  }
  100% {
    border-color: rgb(131, 228, 131);
  }
}
