html,
body {
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

@keyframes paintBackground {
  0% {
    width: 0;
  }
  100% {
    width: 3000px;
  }
}

.banana {
  position: absolute;
  width: 0;
  height: 500px;
  /*border: 12px solid rgb(0, 0, 0);
  border-style: solid none solid none;*/
  opacity: 30%;
  border-radius: 20px;
  animation: paintBackground ease-in-out forwards;
  z-index: -1;
}

.banana#left {
  left: -50px;
}

.banana#right {
  right: -50px;
}

/* Navbar for large screens */

.navbar {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(255, 164, 225);
  width: 0;
  height: 90px;
  margin: 0;
  border: 8px rgb(190, 123, 168);
  border-style: none none solid none;
  animation: navSlide 1s ease 7s forwards;
}

.navbar ul {
  grid-column: 2 / 3;
  align-self: end;
  justify-self: start;
  list-style-type: none;
  font-size: 1.5rem;
  margin: 0;
  padding: 20px 20px 0 20px;
  opacity: 0;
  animation: navFadeIn 500ms ease 8s forwards;
}

.navbar a {
  text-decoration: none;
  color: white;
  align-self: end;
}

.navbar li {
  display: inline;
  padding: 10px 20px 0 20px;
  margin: 0 10px;
  background-color: rgb(190, 123, 168);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1115px) {
  .navbar ul {
    display: none;
  }
}

/* Introduction Section */

.intro-animation {
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

@keyframes growIntroWidth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 85%;
  }
}

.intro-container {
  position: relative;
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  height: 800px;
  margin: 8% auto;
  border-top-left-radius: 15px 250px;
  border-top-right-radius: 250px 15px;
  border-bottom-left-radius: 200px 25px;
  border-bottom-right-radius: 20px 270px;
  background-color: rgb(131, 228, 131);
  overflow: hidden;
  opacity: 0;
  animation: growIntroWidth 1650ms ease-in-out 2000ms forwards;
}

.intro-container h1 {
  font-size: 6rem;
  color: white;
  margin: 0;
  margin-left: 70px;
  align-self: center;
}

.intro-container h1 br {
  display: none;
}

.cover-box {
  position: absolute;
  grid-column: 1 / 2;
  background-color: rgb(131, 228, 131);
  margin-left: 60px;
  width: 1500px;
  height: 120px;
  top: 140px;
  border: 15px;
  border-style: none none none solid;
  border-color: rgb(131, 228, 131);
  z-index: 3;
  animation: slideBox 3s ease-in-out 4s forwards,
    flashOpacity 600ms ease-in-out 13 forwards;
}

.cover-box#box-2 {
  display: none;
}

.cover-box#box-3 {
  display: none;
}

.circle-background {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 500px;
  height: 500px;
  grid-row: span 2;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 50%;
  z-index: 4;
}

.circle-background h2 {
  font-size: 8rem;
  grid-column: span 1;
  justify-self: center;
  align-self: center;
}

/* Media Queries */

@media screen and (max-width: 650px) {
  .intro-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 700px;
    margin: 25px auto;
  }

  .intro-container h1 {
    font-size: 3.5rem;
    margin: 25px;
  }

  .intro-container h1 br {
    display: inline;
  }

  .circle-background {
    width: 200px;
    height: 200px;
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-row: span 1;
    opacity: 0;
    cursor: pointer;
    animation: fadeCircle 1500ms ease-in-out 8300ms forwards;
  }

  @keyframes arrowDrop {
    0% {
      top: 250px;
    }
    93% {
      color: rgb(131, 228, 131);
    }
    100% {
      top: 430px;
      color: black;
    }
  }

  @keyframes fadeCircle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  .circle-background h2 {
    color: rgb(131, 228, 131);
    position: absolute;
    top: 250px;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding-bottom: 14px;
    transform: rotate(90deg);
    animation: arrowDrop 1800ms ease-in-out 9s forwards;
  }

  .cover-box#box-1 {
    height: 70px;
    top: 75px;
    margin-left: 25px;
    animation: smallSlideBox1 600ms ease-out 4s forwards,
      flashOpacity 600ms ease-in-out 8 forwards;
  }

  .cover-box#box-2 {
    display: inline;
    height: 70px;
    top: 150px;
    margin-left: 25px;
    animation: smallSlideBox2 900ms ease-out 5300ms forwards,
      flashOpacity 600ms ease-in-out 5000ms 2 forwards;
  }

  .cover-box#box-3 {
    display: inline;
    height: 70px;
    top: 205px;
    margin-left: 25px;
    animation: smallSlideBox3 1100ms ease-out 5950ms forwards,
      flashOpacity 600ms ease-in-out 5900ms 4 forwards;
  }

  .navbar {
    grid-template-columns: 1fr;
    height: 90px;
    animation-duration: 700ms;
    animation-delay: 7s;
  }

  @keyframes menuFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  .menu-icon {
    display: block;
    margin: auto;
    opacity: 0;
    animation: menuFadeIn 700ms ease-in-out 7800ms forwards;
    border: 5px solid white;
    border-radius: 15px;
  }

  .menu-icon-bar {
    width: 40px;
    height: 5px;
    background-color: rgb(190, 123, 168);
    margin: 10px;
  }
}

/* Keyframes */

@keyframes smallSlideBox1 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  100% {
    transform: translate(80px);
    display: none;
  }
}

@keyframes smallSlideBox2 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  100% {
    transform: translate(200px);
    display: none;
  }
}

@keyframes smallSlideBox3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  100% {
    transform: translate(265px);
    display: none;
  }
}

@keyframes slideBox {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(0);
  }
  30% {
    transform: translate(130px);
  }
  50% {
    transform: translate(130px);
  }
  90% {
    transform: translate(950px);
  }
  100% {
    transform: translate(950px);
    border-color: rgb(131, 228, 131);
  }
}

@keyframes navSlide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes navFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes flashOpacity {
  0% {
    border-color: rgb(91, 138, 91);
  }
  100% {
    border-color: rgb(131, 228, 131);
  }
}
