html {
  font-family: "Fredoka One", cursive;
}

body {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}

/* Navbar for large screens */

.large-screen-navbar {
  position: sticky;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(255, 164, 225);
  width: 100%;
  height: 75px;
  margin: 0;
  border: 8px rgb(190, 123, 168);
  border-style: none none solid none;
}

.large-screen-navbar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2 / 3;
  list-style-type: none;
  font-size: 1.5rem;
  margin: 0;
}

.large-screen-navbar a {
  text-decoration: none;
  color: white;
  align-self: end;
  justify-self: center;
}

.large-screen-navbar li {
  display: inline;
  padding: 10px 20px 0 20px;
  background-color: rgb(190, 123, 168);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width: 1115px) {
  .large-screen-navbar ul {
    display: none;
  }
}

/* Introduction Section */

.intro-container {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  height: 800px;
  margin: 75px auto;
  border-top-left-radius: 15px 250px;
  border-top-right-radius: 250px 15px;
  border-bottom-left-radius: 200px 25px;
  background-color: rgb(131, 228, 131);
  overflow: hidden;
}

.intro-container h1 {
  font-size: 6rem;
  color: white;
  margin: 0;
  margin-left: 40px;
  align-self: center;
}

.cover-box {
  position: absolute;
  grid-column: 1 / 2;
  background-color: rgb(131, 228, 131);
  margin-left: 30px;
  width: 1500px;
  height: 120px;
  top: 140px;
  border: 15px;
  border-style: none none none solid;
  border-color: rgb(131, 228, 131);
  z-index: 3;
  animation: slideBox 3s ease-in-out 800ms forwards;
}

/* Keyframes */

@keyframes slideBox {
  0% {
    transform: translate(0);
  }
  10% {
    border-color: rgb(91, 138, 91);
    transform: translate(0);
  }
  30% {
    transform: translate(130px);
  }
  50% {
    transform: translate(130px);
  }
  90% {
    transform: translate(1000px);
    border-color: rgb(91, 138, 91);
  }
  100% {
    transform: translate(1000px);
    border-color: rgb(131, 228, 131);
  }
}
